.table-container {
  position: relative;
  overflow: auto;
  max-height: 420px;
  table {
    width: 100%;
    background-color: transparent;
  }
}
.table td {
  text-align: left;
}
.table th {
  text-align: left;
}
.table tr>td {
  padding-top: 10px;
}


